<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <ul>
        <li th:each="user : ${users}">
            <span th:text="${user}"></span>
            <!--            <a th:href="@{|/edit/${user.getId()}|}">Изменить</a>-->
            <!--            <a th:href="@{|/delete/${user.getId()}|}">Удалить</a>-->
            <a th:href="@{#}">Изменить</a>
            <a th:href="@{#}">Удалить</a>
            <form method="post" th:action="@{/delete/${user.getId()}}">
                <input th:type="hidden" name="_method" value="patch">
            </form>
        </li>
    </ul>
    <a th:href="@{#}">Добавить</a>
</div>
</body>
</html>
